.container {
  background-color: #f1f1f1;
  border-radius: 15px;
  margin: 30px;
  width: 550px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.493);
  padding: 30px;
}
